<footer class="footer">
  <p class="footer__p">
    FoodsViewer is a <span class="footer__keyword">private</span>
    application built on top of raw results stemming
    from legally bought Viome Gut Intelligence Test® kits. I am
    <span class="footer__keyword">not</span> affiliated to Viome®
    in any way. This is an 
    <span class="footer__keyword">independent</span> project.
    No Viome® data is publicly exposed by FoodsViewer. I built this app and the
    underlying dataset manually, so that the data me and my girlfriend received
    from our test kits would be easily usable on a day-to-day basis. Buy your
    own kit online from their
    <a href="https://www.viome.com/products/gut-intelligence" target="_blank" rel="noopener">
    online store</a>. Viome® and
    <i>Viome Gut Intelligence Test</i>® are registered trademarks.
  </p>
  <p class="footer__p">
    Part of 
    <a href="https://potvin.xyz" target="_blank" rel="noopener">potvin.xyz</a>.
    Version <%= version %>. FoodsViewer uses 
    <a href="https://github.com/jeanmathieupotvin/digest" target="_blank" rel="noopener">digest</a>
    version <%= digestVersion %>, a <i>digestive</i> for data structures
    constructed from results stemming from Viome Gut Intelligence Test® kits.
    The logo is taken from <a href="https://silhouettegarden.com" target="_blank" rel="noopener">
      Silhouette Garden</a>.
  </p>
</footer>
