<!DOCTYPE html>
<html>

<%- include("partials/head"); -%>

<body>
  <main>
    <h1>4 0 4</h1>
    <h2>Shoot! This page does not exist.</h2>
    <a class="main__button" href="/dashboard" target="_parent">
      Go back to dashboard</a>
  </main>
</body>

</html>