<!DOCTYPE html>
<html lang="en">

<%- include("../partials/_head") %>

<body>
    <main class="main">
        <div>
            <img src="/images/logo.svg" height="100" alt="FoodsViewer's logo" />
        </div>
        <h1>FoodsViewer</h1>
        <h2 class="main__subtitle">
            A fast visualization tool based on
            <a 
             href="https://github.com/jeanmathieupotvin/digest"
             target="_blank" 
             rel="noopener" 
             class="main__link">digest</a>
            for Jean-Mathieu and Renée
        </h2>

        <%- include("../partials/_login-form") -%>
    </main>

    <%- include("../partials/_footer") -%>
</body>

</html>